In [53]:
#hide
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [54]:
#hide
from nbdev.showdoc import *
from IPython.display import Markdown,display
import pyorient
import pandas as pd

In [55]:
database_user = "root"
database_password = "rootpwd"
database_name = "data"

In [56]:
client = pyorient.OrientDB("localhost", 2424)
client.connect(database_user, database_password)

137

In [57]:
if client.db_exists(database_name):
   # Drop Database
   client.db_drop(database_name)
    
# Create Database
client.db_create(
  database_name,
  pyorient.DB_TYPE_DOCUMENT,
  pyorient.STORAGE_TYPE_PLOCAL 
)

database = client.db_open(database_name, database_user, database_password)

In [58]:
client.command("CREATE CLASS index_value IF NOT EXISTS")
client.command("CREATE CLASS base_rate IF NOT EXISTS")

[12]

In [59]:
#DAX (DE0008469008)
df = pd.read_csv('C:/Users/menze/OneDrive/Polipol-Laptop/Studium/21Q2/WDK/Projekt/Index DAX Entwicklung.csv')
df.columns = df.columns.str.replace(' ','_')
df.dropna(inplace = True)
df["ISIN"] = "DE0008469008"

for index, row in df.iterrows():
    insert_command = "INSERT INTO index_value CONTENT " + row.to_json()
    client.command(insert_command)
    
df

,Date,Open,High,Low,Close,Adj_Close,Volume,ISIN
0,1987-12-30,1005.190002,1005.190002,1005.190002,1005.190002,1005.190002,0.0,DE0008469008
3,1988-01-04,956.489990,956.489990,956.489990,956.489990,956.489990,0.0,DE0008469008
4,1988-01-05,996.099976,996.099976,996.099976,996.099976,996.099976,0.0,DE0008469008
5,1988-01-06,1006.010010,1006.010010,1006.010010,1006.010010,1006.010010,0.0,DE0008469008
6,1988-01-07,1014.469971,1014.469971,1014.469971,1014.469971,1014.469971,0.0,DE0008469008
...,...,...,...,...,...,...,...,...
8581,2021-04-26,15297.929688,15325.889648,15237.019531,15296.339844,15296.339844,49117600.0,DE0008469008
8582,2021-04-27,15282.839844,15293.889648,15186.759766,15249.269531,15249.269531,54513000.0,DE0008469008
8583,2021-04-28,15320.400391,15355.280273,15266.610352,15292.179688,15292.179688,79607600.0,DE0008469008
8584,2021-04-29,15326.230469,15329.719727,15085.019531,15154.200195,15154.200195,80110800.0,DE0008469008
8585,2021-04-30,15204.389648,15244.259766,15135.910156,15135.910156,15135.910156,75194700.0,DE0008469008

In [60]:
print(client.query("SELECT FROM index_value", 10)[0])

{'@index_value':{'Date': '1987-12-30', 'Open': 1005.190002, 'High': 1005.190002, 'Low': 1005.190002, 'Close': 1005.190002, 'Adj_Close': 1005.190002, 'Volume': 0.0, 'ISIN': 'DE0008469008'},'version':1,'rid':'#25:0'}

In [11]:
# FED base rate
df = pd.read_excel('C:/Users/menze/OneDrive/Polipol-Laptop/Studium/21Q2/WDK/Projekt/Statista FED Leitzins Entwicklung.xlsx', 1)
df.columns = df.columns.str.replace(' ','_')
df.dropna(inplace = True)
df["Bank"] = "FED"

print(df)

for index, row in df.iterrows():
    insert_command = "INSERT INTO base_rate CONTENT " + row.to_json()
    print(insert_command)
    client.command(insert_command)

Empty DataFrame
Columns: [Unnamed:_0, Unnamed:_1, Unnamed:_2, Unnamed:_3, Bank]
Index: []